.card {
  max-width: 364px;
  height: 281px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.card__two-columns {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 10px 16px;
}

.card__image {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.card__name {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  margin: 0;
}
.card__duration {
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  margin: 0 16px 0 16px;
}
.card__like {
  width: 30px;
  height: 30px;
  background-image: url('../../images/like-icon-light.svg');
  background-repeat: no-repeat;
  background-position: center center;
  outline: none;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.card__like_liked {
  background-image: url('../../images/like-icon.svg');
}
@media screen and (max-width: 800px) {
  .card__two-columns {
    padding: 5px 14px 10px 14px;
  }
  .card {
    height: 262px;
  }
}
@media screen and (max-width: 400px) {
  .card {
    height: 237px;
  }
} 