.portfolio__title {
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px;
color: #A0A0A0;
margin-bottom: 50px;
}
.portfolio__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.portfolio__item {
  height: 68px;
  margin-right: 5px;
  margin-bottom: 20px;
  border-bottom: #E8E8E8 1px solid;
  background: url('../../images/arrow.svg') no-repeat right 39%;
  transition: 0.5s;
}
.portfolio__link {
  text-decoration: none;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
}
.portfolio__item:hover, .portfolio__item:active {
	box-shadow: 0 0 15px rgba(122,122,122,0.3);
}