.filter-checkbox {
 display: flex;
 justify-content: center;
 align-items: center;
}
.filter-checkbox__input {
  position: absolute;  /*чтобы работал focus*/
  z-index: -1;
  opacity: 0;
}
.filter-checkbox__label {
  margin-left: 44px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
}
.filter-checkbox__label::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: -44px;
  display: block;
  width: 36px;
  height: 20px;
  background-color: #A0A0A0;
  border-radius: 10px;
}
.filter-checkbox__label::after {
  content: ' ';
  position: absolute;
  top: 2px;
  left: -42px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
}
.filter-checkbox__input:checked + .filter-checkbox__label::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: -46px;
  display: block;
  width: 36px;
  height: 20px;
  background-color: #2BE080;
  border-radius: 10px;
}
.filter-checkbox__input:checked + .filter-checkbox__label::after {
  content: ' ';
  position: absolute;
  top: 2px;
  left: -28px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
}
.filter-checkbox__input:focus + .filter-checkbox__label::before {
  outline: 3px solid rgb(255, 153, 0);
  border-radius: 3px;
}
@media (max-width: 400px){
  .filter-checkbox__label{
    font-size: 11px;
  }
}